@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Survey Creation Software</h1>
    <p class="lead">This software is to help facilitate survey creation and administration.</p>
    <p><a href="@Url.Action("Create","Survey")" class="btn btn-primary btn-lg">Create a new survey &raquo;</a></p>
    <p><a href="@Url.Action("Index","Survey")" class="btn btn-primary btn-lg">View surveys &raquo;</a></p>
</div>
